footer
	.footer.text-center
		.container
			ul.list-inline
				li: button.btn.btn-link(popover-template="popover.privacy.template", popover-placement="top",
				popover-trigger="mouseenter", type="button") Privacy Policy
				li: button.btn.btn-link(popover-template="popover.terms.template", popover-animation="true", popover-placement="top"
				popover-trigger="mouseenter", type="button") Terms of Use
				li: button.btn.btn-link(popover-placement="top",
				popover-trigger="mouseenter", type="button") Support



