doctype html
html(ng-app="salesManagement", ng-controller="salesManagementController")
  head
    title= title
    link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/styles.css")
  body
    block content
    block footer
    script(src="/js/angular.bundle.min.js")
    script(src="/js/bundle.min.js")

