.modal-header
	.modal-title Do you really sure ?

.modal-body

.modal-footer
	button.btn.btn-primary(type="button", ng-click="ok()") OK
	button.btn.btn-warning(type="button", ng-click="cancel()") Cancel